<section id="landing-trend">
	<div class="ltr-container">

		<div class="ltrc-trending">
			<div class="ltrc-title-container d-flex">
				<h2 class="ltrctc-text">Best trending packages</h2>
				<div class="slides-arrow">
					<img class="cursor-pt" (click)="moveSlider('left')" src="/public/images/icons/Buttons/@1x/slide_previous_inactive.png" alt="arrow-previous" />
					<img class="cursor-pt" (click)="moveSlider('right')" src="/public/images/icons/Buttons/@1x/slide_next_inactive.png" alt="arrow-next" />
				</div>
			</div>

			<div class="slider-container d-flex transition-200" [@slideOnClick]="slideState">
				<div class="ltrct-card transition-150">
					<div class="card-picture"></div>
					<div class="card-title">
						<h4>Echappée à vélo entre Chambord et Chenonceau</h4>
						<h6>Chambord, Chenonceau, FR</h6>
					</div>
					<div class="card-info d-flex">
						<div class="info-calendar d-flex">
							<i class="fa fa-calendar-alt"></i>
							<span>No of Days: 2</span>
						</div>
						<div class="info-people d-flex">
							<i class="fa fa-user"></i>
							<span>People: 1</span>
						</div>
					</div>
					<div class="card-price d-flex">
						<div class="info-price">
							<p>250 €</p>
						</div>

						<button class="green-button info-detail cursor-pt">
								View details
						</button>
					</div>
				</div>

				<div class="ltrct-card transition-150">
					<div class="card-picture"></div>
					<div class="card-title">
						<h4>Echappée à vélo entre Chambord et Chenonceau</h4>
						<h6>Chambord, Chenonceau, FR</h6>
					</div>
					<div class="card-info d-flex">
						<div class="info-calendar d-flex">
							<i class="fa fa-calendar-alt"></i>
							<span>No of Days: 2</span>
						</div>
						<div class="info-people d-flex">
							<i class="fa fa-user"></i>
							<span>People: 1</span>
						</div>
					</div>
					<div class="card-price d-flex">
						<div class="info-price">
							<p>250 €</p>
						</div>

						<button class="green-button info-detail cursor-pt">
								View details
						</button>
					</div>
				</div>

				<div class="ltrct-card transition-150">
					<div class="card-picture"></div>
					<div class="card-title">
						<h4>Echappée à vélo entre Chambord et Chenonceau</h4>
						<h6>Chambord, Chenonceau, FR</h6>
					</div>
					<div class="card-info d-flex">
						<div class="info-calendar d-flex">
							<i class="fa fa-calendar-alt"></i>
							<span>No of Days: 2</span>
						</div>
						<div class="info-people d-flex">
							<i class="fa fa-user"></i>
							<span>People: 1</span>
						</div>
					</div>
					<div class="card-price d-flex">
						<div class="info-price">
							<p>250 €</p>
						</div>

						<button class="green-button info-detail cursor-pt">
								View details
						</button>
					</div>
				</div>

				<div class="ltrct-card transition-150">
					<div class="card-picture"></div>
					<div class="card-title">
						<h4>Echappée à vélo entre Chambord et Chenonceau</h4>
						<h6>Chambord, Chenonceau, FR</h6>
					</div>
					<div class="card-info d-flex">
						<div class="info-calendar d-flex">
							<i class="fa fa-calendar-alt"></i>
							<span>No of Days: 2</span>
						</div>
						<div class="info-people d-flex">
							<i class="fa fa-user"></i>
							<span>People: 1</span>
						</div>
					</div>
					<div class="card-price d-flex">
						<div class="info-price">
							<p>250 €</p>
						</div>

						<button class="green-button info-detail cursor-pt">
								View details
						</button>
					</div>
				</div>

				<div class="ltrct-card transition-150">
					<div class="card-picture"></div>
					<div class="card-title">
						<h4>Echappée à vélo entre Chambord et Chenonceau</h4>
						<h6>Chambord, Chenonceau, FR</h6>
					</div>
					<div class="card-info d-flex">
						<div class="info-calendar d-flex">
							<i class="fa fa-calendar-alt"></i>
							<span>No of Days: 2</span>
						</div>
						<div class="info-people d-flex">
							<i class="fa fa-user"></i>
							<span>People: 1</span>
						</div>
					</div>
					<div class="card-price d-flex">
						<div class="info-price">
							<p>250 €</p>
						</div>

						<button class="green-button info-detail cursor-pt">
								View details
						</button>
					</div>
				</div>

				<div class="ltrct-card transition-150">
					<div class="card-picture"></div>
					<div class="card-title">
						<h4>Echappée à vélo entre Chambord et Chenonceau</h4>
						<h6>Chambord, Chenonceau, FR</h6>
					</div>
					<div class="card-info d-flex">
						<div class="info-calendar d-flex">
							<i class="fa fa-calendar-alt"></i>
							<span>No of Days: 2</span>
						</div>
						<div class="info-people d-flex">
							<i class="fa fa-user"></i>
							<span>People: 1</span>
						</div>
					</div>
					<div class="card-price d-flex">
						<div class="info-price">
							<p>250 €</p>
						</div>

						<button class="green-button info-detail cursor-pt">
								View details
						</button>
					</div>
				</div>

				<div class="ltrct-card transition-150">
					<div class="card-picture"></div>
					<div class="card-title">
						<h4>Echappée à vélo entre Chambord et Chenonceau</h4>
						<h6>Chambord, Chenonceau, FR</h6>
					</div>
					<div class="card-info d-flex">
						<div class="info-calendar d-flex">
							<i class="fa fa-calendar-alt"></i>
							<span>No of Days: 2</span>
						</div>
						<div class="info-people d-flex">
							<i class="fa fa-user"></i>
							<span>People: 1</span>
						</div>
					</div>
					<div class="card-price d-flex">
						<div class="info-price">
							<p>250 €</p>
						</div>

						<button class="green-button info-detail cursor-pt">
								View details
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
