<section id="landing-discover">
	<div class="ld-container">

		<div class="ldc-title-container">
			<h2 class="ldctc-text">Explore our environment</h2>
		</div>

		<div class="ldc-card-container d-flex">
			<article class="ldc-card transition-150 cursor-pt">
				<div class="ldcc-title">
					<h5>Chateaux de la Loire à Velo</h5>
				</div>
				<div class="ldcc-picture">
					<div class="filter-blur transition-150"></div>
				</div>

				<div class="ldcc-text">
					<p>Nunc commodo ipsum in diam pulvinar, laoreet tempor tellus molestie. Maecenas blandit sem turpis, nec luctus nunc...</p>
				</div>
				<div class="ldcc-info d-flex">
					<div class="info-price">
						<h6>Starts from</h6>
						<p>250 €</p>
					</div>

					<button class="green-button info-detail cursor-pt">
							View details
					</button>
				</div>
			</article>

			<article class="ldc-card transition-150 cursor-pt">
				<div class="ldcc-title">
					<h5>Chateaux de la Loire à Velo</h5>
				</div>
				<div class="ldcc-picture">
					<div class="filter-blur transition-150"></div>
				</div>

				<div class="ldcc-text">
					<p>Nunc commodo ipsum in diam pulvinar, laoreet tempor tellus molestie. Maecenas blandit sem turpis, nec luctus nunc...</p>
				</div>
				<div class="ldcc-info d-flex">
					<div class="info-price">
						<h6>Starts from</h6>
						<p>250 €</p>
					</div>

					<button class="green-button info-detail cursor-pt">
							View details
					</button>
				</div>
			</article>

			<article class="ldc-card transition-150 cursor-pt">
				<div class="ldcc-title">
					<h5>Chateaux de la Loire à Velo</h5>
				</div>
				<div class="ldcc-picture">
					<div class="filter-blur transition-150"></div>
				</div>

				<div class="ldcc-text">
					<p>Nunc commodo ipsum in diam pulvinar, laoreet tempor tellus molestie. Maecenas blandit sem turpis, nec luctus nunc...</p>
				</div>
				<div class="ldcc-info d-flex">
					<div class="info-price">
						<h6>Starts from</h6>
						<p>250 €</p>
					</div>

					<button class="green-button info-detail cursor-pt">
							View details
					</button>
				</div>
			</article>
		</div>
	</div>
</section>