<section id="footer">
	<div class="fo-container d-flex">
		<div class='foc-about'>
			<h4>About us</h4>
			<div class="d-flex">
				<img src="public/images/icons/Logo/Logo_Les_Velos_Verts.png" alt="company-logo" />
				<p class="foca-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus odio quaerat aspernatur magnam totam perspiciatis! t aspernatur magnam totam perspiciatis!</p>
			</div>
			<button>Read more</button>
		</div>

		<div class='foc-news'>
			<h4>Lastest news</h4>
			<div class="focn-trip d-flex">
				<div class="focnt-image"></div>
				<div class="focnt-info">
					<h6>Travel to north, to see the king of the north</h6>
					<span>December 18, 2017</span>
				</div>
			</div>
			<div class="focn-trip d-flex">
				<div class="focnt-image"></div>
				<div class="focnt-info">
					<h6>Travel to kindlanding, to see the king Joffrey</h6>
					<span>December 19, 2017</span>
				</div>
			</div>
			<div class="focn-trip d-flex">
				<div class="focnt-image"></div>
				<div class="focnt-info">
					<h6>Travel to Slaver's Bay, to see Mother of Dragons</h6>
					<span>December 20, 2017</span>
				</div>
			</div>
		</div>

		<div class='foc-plan'>
			<h4>Our plans</h4>
		</div>

		<div class='foc-contact'>
			<h4>Contact us</h4>
		</div>
	</div>
</section>