<header id="velo-header">
<section id="vht">
	<div class="velo-header-top d-flex">
		<div class="vht-call">
			<h6>Appellez-nous au 02 54 74 57 05</h6>
		</div>
		<div class="vht-social-int d-flex">
			<div class="vht-social d-inline">
				<i class="fab fa-facebook-f"></i>
				<i class="fab fa-twitter"></i>
				<i class="fab fa-instagram"></i>
				<i class="fa fa-envelope"></i>
			</div>
			<div class="vht-int d-flex">
				<span class="flag-icon flag-icon-fr"></span>
				<i class="fa fa-angle-down"></i>
				<ul class="vht-int-multi">
					<li class="d-flex">
						<span class="flag-icon flag-icon-us"></span>
						<span class="country">US</span>
					</li>
					<li class="d-flex">
						<span class="flag-icon flag-icon-de"></span>
						<span class="country">DE</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section id="vhb">
	<div class="velo-header-bottom d-flex">
		<div class="velo-brand">
			<a [routerLink]="['/']"><img src="public/images/icons/Logo/Logo_Les_Velos_Verts.png" alt="brand-logo" ></a>
		</div>
		<div class="velo-nav">
			<ul class="d-flex">
				<li><a class="hvr-underline-from-center" [routerLink]="['/']" >Discover</a></li>
				<li><a class="hvr-underline-from-center" [routerLink]="['/about']" >About us</a></li>
				<li><a class="hvr-underline-from-center" [routerLink]="">Rent a bike</a></li>
				<li><a class="hvr-underline-from-center" [routerLink]="" >Contact</a></li>
			</ul>
		</div>
	</div>
</section>
</header>