<section id="booking-page">
	<div class="bp-header">
		<div class="text-field align-center">
			<h1>Orléans</h1>
		</div>
		<div class="arrows align-center d-flex">
			<i class="fa fa-angle-left"></i>
			<i class="fa fa-angle-right"></i>
		</div>
	</div>

	<div class="bp-body">
		<div class="bpb-presentation d-flex">
			<div class="bpbp-resume">
				<h3>Orléans à vélo en 4 jours</h3>
				<p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. </p>
			</div>

			<div class="bpbp-booking">
				<div class="bpbpb-card">
					 <div class="card-price d-flex">
					 	<h6>Starts from</h6>
					 	<h4>345€ / pers</h4>
					 </div>
					 <div class="card-info">
						<p><i class="far fa-clock"></i> 4 jours</p>
						<p><i class="fas fa-bicycle"></i> Séjours en marguerite</p>
						<p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> 5/5</p>
					 </div>
					 <div class="card-booking-button">
					 	<button class="green-button cursor-pt">Book now</button>
					 </div>
					 <div class="card-contact">
					 	<p><i class="fas fa-phone"></i> 02 54 74 57 05</p>
					 	<p><i class="fas fa-envelope"></i> friends@loirevelo.com</p>
					 </div>
				</div>
			</div>
		</div>

		<app-booking-info></app-booking-info>
	</div>
</section>