<section id="landing-partner">
	<div class="lp-container d-flex">
		<img class="partner1" src="/public/images/photos/partners/bagages.jpg" alt="partner-picture1">
		<img class="partner2" src="/public/images/photos/partners/partner2.jpg" alt="partner-picture2">
		<img class="partner3" src="/public/images/photos/partners/partner1.jpg" alt="partner-picture3">
		<img class="partner4" src="/public/images/photos/partners/bagages.jpg" alt="partner-picture4">
		<img class="partner5" src="/public/images/photos/partners/partner2.jpg" alt="partner-picture5">
	</div>
</section>