<section id="about-us">
	<div class="au-top">
		<div class="filter"></div>
		<div class="background-team"></div>
		<div class="au-top-text align-center">
			<h4>Who we are?</h4>
			<p>Our talented teams craft the best code and design amazing user experiences for our clients.</p>
		</div>
	</div>

	<div class="au-middle">
		<div class="custom-filter custom-filter-top"></div>

		<div class="text">
			<h2 class="h2-green">The Green Bikes</h2>
			<h4>A nearshore experience like you've never had before</h4>
			<div class="presentation d-flex">
				<div class="presentation-text presentation-text1">
					<h5>About our bikes</h5>
					<p>Temporibus beatae ea necessitatibus laudantium quod est assumenda consequuntur ipsam maxime atque, saepe sint veritatis iure tenetur similique officiis magnam nesciunt commodi!Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
				<div class="presentation-text presentation-text2">
					<h5>About our team</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident dolorem optio officia sint, pariatur quia minus quasi qui nihil, enim nulla quam debitis quo ea neque at dolores temporibus iure. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
			</div>
		</div>

		<h2>Our big names</h2>
		<div class="custom-filter"></div>
		<div class="au-middle-container d-flex">
			<div class="aumc-element d-flex">
				<img src="/public/images/trump.jpeg" alt="teammate-picture" />
				<div class='aumce-info'>
					<h4>Donald Trump</h4>
					<span>President of the United States</span>
					<p>Happy New Year to all, including to my many enemies and those who have fought me and lost so badly they just don’t know what to do. Love!</p>
				</div>
			</div>

			<div class="aumc-element d-flex">
				<img src="/public/images/putin.jpeg" alt="teammate-picture" />
				<div class='aumce-info'>
					<h4>Vladimir Putin</h4>
					<span>President of Russia</span>
					<p>Happy New Year to all, including to my many enemies and those who have fought me and lost so badly they just don’t know what to do. Love!</p>
				</div>
			</div>

			<div class="aumc-element d-flex">
				<img src="/public/images/xi.jpg" alt="teammate-picture" />
				<div class='aumce-info'>
					<h4>Xi Jinping</h4>
					<span>President of China</span>
					<p>Happy New Year to all, including to my many enemies and those who have fought me and lost so badly they just don’t know what to do. Love!</p>
				</div>
			</div>
		</div>

		<div class="custom-filter-bottom"></div>
	</div>

	<div class="au-find">
		<div class="auf-container">
			<div class="aufc-title d-flex">
				 <div class="dash-left"></div>
				 <p>Where to find us?</p>
				 <div class="dash-right"></div>
			</div>

			<div class="aufc-cards d-flex">
				<div class="aufc-card">
					<div class="aufcc-title">
						<h5>Orléans</h5>
					</div>
					<div class="aufcc-picture">
					</div>
					<div class="aufcc-text">
						<p>Depuis Orléans, partez pour un périple le long de la Loire à vélo et admirer les paysages ligériens.</p>
					</div>
					<div class="aufcc-button">
						<button class="green-button cursor-pt">Looking into this location</button>
					</div>
				</div>

				<div class="aufc-card">
					<div class="aufcc-title">
						<h5>Orléans</h5>
					</div>
					<div class="aufcc-picture">
					</div>
					<div class="aufcc-text">
						<p>Depuis Orléans, partez pour un périple le long de la Loire à vélo et admirer les paysages ligériens.</p>
					</div>
					<div class="aufcc-button">
						<button class="green-button cursor-pt">Looking into this location</button>
					</div>
				</div>

				<div class="aufc-card">
					<div class="aufcc-title">
						<h5>Orléans</h5>
					</div>
					<div class="aufcc-picture">
					</div>
					<div class="aufcc-text">
						<p>Depuis Orléans, partez pour un périple le long de la Loire à vélo et admirer les paysages ligériens.</p>
					</div>
					<div class="aufcc-button">
						<button class="green-button cursor-pt">Looking into this location</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="au-contact">
		<h2>For more information, Contact us</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe minima officia dolor vero eum iste natus suscipit nihil, ipsam a eius deleniti magni nesciunt corrupti, culpa aliquid harum, fugit omnis.</p>
		<button class="green-button">02 54 74 57 05 <i class="fas fa-phone"></i></button>
	</div>

</section>
