<section id="landing-testimonial">
	<div class="lte-container">
		<h2>Our client's words</h2>
		<div class="ltec-slide d-flex">
			<img src="/public/images/photos/pictures/Loire_a_Velo.jpg" alt="testimonial-picture" />
			<div class="testimonial-text">
				<p>"Donec quis vulputate lectus. Sed tempor venenatis elementum. Cras commodo lacus nec imperdiet dignissim. Nunc scelerisque interdum diam a aliquam. Vestibulum eget massa auctor, consequat quam ut, auctor nibh. Nam volutpat odio sit amet ullamcorper placerat. Aliquam porta tincidunt urna ac commodo."</p>
				<div class="signature">
					<strong>Alexander Doe,</strong> <span>Telecom@AirtelCom</span>
				</div>
			</div>
		</div>
	</div>
</section>
