<section id="booking-info">
	<div class="bi-container">
		<nav class="bic-navbar">
			<ul class="bicn-elements">
				<li class="active">Itinerary</li>
				<li>Prices</li>
				<li>Bikes & Equipments</li>
				<li>Get help</li>
				<li class="last-li">Feedback (24)</li>
			</ul>
		</nav>

		<div class="bic-body">
			<div class="bicb-top d-flex">
				<img src="/public/images/map-test2.png" alt="map" />
				<div class="bicbt-include">
					<h3>Include</h3>

					<ul class="bicbti-list">
						<li><i class="fas fa-home"></i> <span>4 days at hotel</span></li>
						<li><i class="fas fa-coffee"></i> Breakfast </li>
						<li><i class="fas fa-home"></i> <span>4 days at hotel</span></li>
						<li><i class="fas fa-coffee"></i> Breakfast </li>
						<li><i class="fas fa-home"></i> <span>4 days at hotel</span></li>
						<li><i class="fas fa-coffee"></i> Breakfast </li>
					</ul>
				</div>
			</div>
			<div class="bicb-chronologies">
				<div class="chrono-element">
					
				</div>
			</div>
		</div>
	</div>

	<div class="au-find">
		<div class="auf-container">
			<div class="aufc-title d-flex">
				 <div class="dash-left"></div>
				 <p>Discover others location</p>
				 <div class="dash-right"></div>
			</div>

			<div class="aufc-cards d-flex">
				<div class="aufc-card">
					<div class="aufcc-title">
						<h5>Orléans</h5>
					</div>
					<div class="aufcc-picture">
					</div>
					<div class="aufcc-text">
						<p>Depuis Orléans, partez pour un périple le long de la Loire à vélo et admirer les paysages ligériens.</p>
					</div>
					<div class="aufcc-button">
						<button class="green-button cursor-pt">Looking into this location</button>
					</div>
				</div>

				<div class="aufc-card">
					<div class="aufcc-title">
						<h5>Orléans</h5>
					</div>
					<div class="aufcc-picture">
					</div>
					<div class="aufcc-text">
						<p>Depuis Orléans, partez pour un périple le long de la Loire à vélo et admirer les paysages ligériens.</p>
					</div>
					<div class="aufcc-button">
						<button class="green-button cursor-pt">Looking into this location</button>
					</div>
				</div>

				<div class="aufc-card">
					<div class="aufcc-title">
						<h5>Orléans</h5>
					</div>
					<div class="aufcc-picture">
					</div>
					<div class="aufcc-text">
						<p>Depuis Orléans, partez pour un périple le long de la Loire à vélo et admirer les paysages ligériens.</p>
					</div>
					<div class="aufcc-button">
						<button class="green-button cursor-pt">Looking into this location</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>